---
import { getRelativeLocaleUrl } from "astro:i18n";
import { useTranslations } from "../i18n/utils";
import { languagesList } from "../i18n/ui";
import { Image } from "astro:assets"; 
import Logo from "../../src/assets/Logo.png";
const currentLang = Astro.currentLocale || "es";

const translatedLabels = useTranslations(
  currentLang as keyof typeof languagesList,
);
---

<nav
  class="fixed top-0 w-full bg-white p-2 rounded-lg border-b-Purple border-b-4 hidden md:block"
>
  <div class="w-[70dvw] mt-4 m-auto items-center flex justify-between">
    <a href={getRelativeLocaleUrl(currentLang, "/")}
      ><Image src={Logo} alt="Logo" class="w-12 rounded-full" loading="eager"  /></a
    >
    <ul class="flex gap-4 font-bold">
      <li>
        <a href={getRelativeLocaleUrl(currentLang, "/")}>
          {translatedLabels("nav.home")}
        </a>
      </li>
      <li>
        <a
          href={Astro.url.pathname === `/${currentLang}/`
            ? "#Header"
            : getRelativeLocaleUrl(currentLang, "/#Header")}
        >
          {translatedLabels("nav.about")}
        </a>
      </li>

      <li>
        <a
          href={Astro.url.pathname === `/${currentLang}/`
            ? "#Projects"
            : getRelativeLocaleUrl(currentLang, "/#Projects")}
        >
          {translatedLabels("nav.projects")}
        </a>
      </li>

      <li>
        <a
          href={Astro.url.pathname === `/${currentLang}/`
            ? "#Services"
            : getRelativeLocaleUrl(currentLang, "/#Services")}
        >
          {translatedLabels("nav.services")}
        </a>
      </li>
      <li>
        <a
          href={Astro.url.pathname === `/${currentLang}/`
            ? "#Contact-me"
            : getRelativeLocaleUrl(currentLang, "/#Contact-me")}
        >
          {translatedLabels("nav.contact")}
        </a>
      </li>
    </ul>
    <div>
      <button>ES</button>
      <button>CV</button>
    </div>
  </div>
</nav>
