---
import { getRelativeLocaleUrl } from "astro:i18n";
import { useTranslations } from "../i18n/utils";
import { languagesList } from "../i18n/ui";
import { Image } from "astro:assets";
import Logo from "../../src/assets/Logo.png";
const currentLang = Astro.currentLocale || "es";

const translatedLabels = useTranslations(
	currentLang as keyof typeof languagesList,
);

const currentPath = Astro.url.pathname.replace(/^\/(es|en|nb)/, "") || "/";
---

<script>
	const Navbar = document.getElementById("Navbar");

	window.addEventListener("scroll", () => {
		if (window.scrollY > 20) {
			Navbar?.classList.add(
				"border-b-Purple",
				"dark:border-b-white",
				"border-b-4",
				"backdrop-blur-md",
				"bg-white/70",
				"dark:bg-DarkPurple/70",
			);
		} else {
			Navbar?.classList.remove("border-b-Purple", "border-b-4");
		}
	});

	const toggle = document.getElementById("MenuToggle");
	const menu = document.getElementById("Menu");

	let menuIsOpen = false;

	toggle?.addEventListener("click", () => {
		menuIsOpen = !menuIsOpen;
		if (menuIsOpen) {
			document.body.style.overflow = "hidden";
			menu?.classList.remove("-translate-x-full");
			menu?.classList.add("translate-x-0", "flex");
			toggle?.classList.remove("fa-bars", "left-6", "text-white", "bg-Purple");
			toggle?.classList.add(
				"fa-xmark",
				"right-[38%]",
				"text-Purple",
				"bg-white",
			);
		} else {
			document.body.style.overflow = "auto";
			menu?.classList.remove("translate-x-0", "flex");
			menu?.classList.add("-translate-x-full");
			toggle?.classList.remove(
				"fa-xmark",
				"right-[38%]",
				"text-Purple",
				"bg-white",
			);
			toggle?.classList.add("fa-bars", "left-6", "text-white", "bg-Purple");
		}
	});

	const $openCVs = document.getElementById("OpenCVs");
	const $CVs = document.getElementById("CVs");

	let CVsOpen = false;

	$openCVs?.addEventListener("click", () => {
		if (CVsOpen) {
			$CVs?.classList.add("-translate-y-48");
			$CVs?.classList.remove("hidden");
			$CVs?.classList.add("flex");
			CVsOpen = false;
		} else {
			$CVs?.classList.remove("hidden");
			$CVs?.classList.add("flex");
			$CVs?.classList.remove("-translate-y-48");
			CVsOpen = true;
		}
	});

	const $openCVs2 = document.getElementById("OpenCVs2");
	const $CVs2 = document.getElementById("CVs2");

	let CVsOpen2 = false;

	$openCVs2?.addEventListener("click", () => {
		if (CVsOpen2) {
			$CVs2?.classList.add("-translate-x-96");
			$CVs2?.classList.remove("hidden");
			$CVs2?.classList.add("flex");
			CVsOpen2 = false;
		} else {
			$CVs2?.classList.remove("hidden");
			$CVs2?.classList.add("flex");
			$CVs2?.classList.remove("-translate-x-96");
			CVsOpen2 = true;
		}
	});

	const btnThemeChanger = document.getElementById("ThemeChanger");
	const btnThemeChangerMobile = document.getElementById("ThemeChangerMobile");

	function updateIcon() {
		if (document.documentElement.classList.contains("dark")) {
			// Está en oscuro → mostrar sol (para cambiar a claro)
			btnThemeChanger?.classList.remove("fa-moon");
			btnThemeChanger?.classList.add("fa-sun");
			btnThemeChangerMobile?.classList.remove("fa-moon");
			btnThemeChangerMobile?.classList.add("fa-sun");
		} else {
			// Está en claro → mostrar luna (para cambiar a oscuro)
			btnThemeChanger?.classList.remove("fa-sun");
			btnThemeChanger?.classList.add("fa-moon");
			btnThemeChangerMobile?.classList.remove("fa-sun");
			btnThemeChangerMobile?.classList.add("fa-moon");
		}
	}

	// Inicializar según localStorage o sistema
	let theme = localStorage.getItem("theme");
	if (!theme) {
		theme = window.matchMedia("(prefers-color-scheme: dark)").matches
			? "dark"
			: "light";
	}
	document.documentElement.classList.toggle("dark", theme === "dark");
	updateIcon();

	// Botones
	btnThemeChanger?.addEventListener("click", () => {
		document.documentElement.classList.toggle("dark");
		localStorage.setItem(
			"theme",
			document.documentElement.classList.contains("dark") ? "dark" : "light",
		);
		updateIcon();
	});

	btnThemeChangerMobile?.addEventListener("click", () => {
		document.documentElement.classList.toggle("dark");
		localStorage.setItem(
			"theme",
			document.documentElement.classList.contains("dark") ? "dark" : "light",
		);
		updateIcon();
	});
</script>

<nav
	class="fixed top-0 z-50 hidden w-full rounded-lg p-2 text-black md:block"
	id="Navbar"
	data-aos="fade-down"
	data-aos-offset="200"
	data-aos-duration="1500"
	data-aos-easing="ease-in-out"
	data-aos-delay="300"
>
	<div class="m-auto mt-4 flex w-[70dvw] items-center justify-between">
		<a href={getRelativeLocaleUrl(currentLang, "/")}
			><Image
				src={Logo}
				alt="Logo"
				class="w-12 rounded-full"
				loading="eager"
			/></a
		>
		<ul class="flex gap-4 font-bold">
			<li>
				<a
					class="text-DarkPurple after:bg-DarkPurple relative after:absolute after:-bottom-1 after:left-0 after:h-[2px] after:w-0 after:transition-all after:duration-300 after:content-[''] hover:after:w-full dark:text-white dark:after:bg-white"
					href={getRelativeLocaleUrl(currentLang, "/")}
				>
					{translatedLabels("nav.home")}
				</a>
			</li>
			<li>
				<a
					class="text-DarkPurple after:bg-DarkPurple relative after:absolute after:-bottom-1 after:left-0 after:h-[2px] after:w-0 after:transition-all after:duration-300 after:content-[''] hover:after:w-full dark:text-white dark:after:bg-white"
					href={Astro.url.pathname === `/${currentLang}/`
						? "#Header"
						: getRelativeLocaleUrl(currentLang, "/#Header")}
				>
					{translatedLabels("nav.about")}
				</a>
			</li>

			<li>
				<a
					class="text-DarkPurple after:bg-DarkPurple relative after:absolute after:-bottom-1 after:left-0 after:h-[2px] after:w-0 after:transition-all after:duration-300 after:content-[''] hover:after:w-full dark:text-white dark:after:bg-white"
					href={Astro.url.pathname === `/${currentLang}/`
						? "#Projects"
						: getRelativeLocaleUrl(currentLang, "/#Projects")}
				>
					{translatedLabels("nav.projects")}
				</a>
			</li>

			<li>
				<a
					class="text-DarkPurple after:bg-DarkPurple relative after:absolute after:-bottom-1 after:left-0 after:h-[2px] after:w-0 after:transition-all after:duration-300 after:content-[''] hover:after:w-full dark:text-white dark:after:bg-white"
					href={Astro.url.pathname === `/${currentLang}/`
						? "#Services"
						: getRelativeLocaleUrl(currentLang, "/#Services")}
				>
					{translatedLabels("nav.services")}
				</a>
			</li>
			<li>
				<a
					class="text-DarkPurple after:bg-DarkPurple relative after:absolute after:-bottom-1 after:left-0 after:h-[2px] after:w-0 after:transition-all after:duration-300 after:content-[''] hover:after:w-full dark:text-white dark:after:bg-white"
					href={Astro.url.pathname === `/${currentLang}/`
						? "#Contact-me"
						: getRelativeLocaleUrl(currentLang, "/#Contact-me")}
				>
					{translatedLabels("nav.contact")}
				</a>
			</li>
		</ul>

		<div class="flex items-center gap-2">
			<i
				class=`bg-DarkPurple fa-solid dark:text-Purple cursor-pointer rounded-lg p-2 text-2xl text-white duration-300 hover:scale-90 dark:bg-white`
				id="ThemeChanger"
			></i>
			<select
				class="bg-Purple cursor-pointer rounded-lg p-2 text-white"
				data-path={currentPath}
				onchange="const lang=this.value; const path=this.dataset.path||'/'; const hash=window.location.hash||''; window.location.href='/' + lang + path + hash;"
			>
				<option
					class="cursor-pointer"
					value="es"
					selected={currentLang === "es"}
					>ES</option
				>
				<option
					class="cursor-pointer"
					value="en"
					selected={currentLang === "en"}
					>EN</option
				>
				<option
					class="cursor-pointer"
					value="nb"
					selected={currentLang === "nb"}
					>NOK</option
				>
			</select>

			<div
				class="bg-DarkPurple dark:text-Purple relative w-full cursor-pointer rounded-lg p-2 text-white duration-300 hover:scale-90 dark:bg-white"
			>
				<p id="OpenCVs"><i class="fa-solid fa-download"></i> CV's</p>
				<div
					id="CVs"
					class="absolute top-12 right-0 w-full -translate-y-48 flex-col gap-2 transition-all duration-500"
				>
					<a
						class="bg-Purple hover:bg-DarkPurple dark:hover:text-Purple flex cursor-pointer items-center gap-2 rounded-lg px-2 py-1 text-white hover:scale-90 hover:duration-300 dark:hover:bg-white"
						href=`/CV/CV-ES_JUAN-PABLO-GARCIA.docx`
						download=`CV-ES_JUAN-PABLO-GARCIA.docx`
						><i class="fa-solid fa-download"></i>ES</a
					>
					<a
						class="bg-Purple hover:bg-DarkPurple dark:hover:text-Purple flex cursor-pointer items-center gap-2 rounded-lg px-2 py-1 text-white hover:scale-90 hover:duration-300 dark:hover:bg-white"
						href=`/CV/CV-EN_JUAN-PABLO-GARCIA.docx`
						download=`CV-EN_JUAN-PABLO-GARCIA.docx`
						><i class="fa-solid fa-download"></i>EN</a
					>
				</div>
			</div>
		</div>
	</div>
</nav>

<nav class="fixed top-0 z-50 flex w-dvw gap-4 bg-white md:hidden">
	<div
		id="Menu"
		class="bg-Purple border-r-Purple fixed top-0 left-0 h-dvh w-2/3 -translate-x-full flex-col rounded-r-lg border-r-6 text-sm transition-transform duration-500 ease-in-out dark:border-r-white"
	>
		<ul class="flex h-dvh flex-col justify-center gap-4 font-bold">
			<li class="text-Purple flex w-full justify-center bg-white p-4">
				<a href={getRelativeLocaleUrl(currentLang, "/")}>
					{translatedLabels("nav.home")}
				</a>
			</li>

			<li class="text-Purple flex w-full justify-center bg-white p-4">
				<a
					href={Astro.url.pathname === `/${currentLang}/`
						? "#Header"
						: getRelativeLocaleUrl(currentLang, "/#Header")}
				>
					{translatedLabels("nav.about")}
				</a>
			</li>

			<li class="text-Purple flex w-full justify-center bg-white p-4">
				<a
					href={Astro.url.pathname === `/${currentLang}/`
						? "#Projects"
						: getRelativeLocaleUrl(currentLang, "/#Projects")}
				>
					{translatedLabels("nav.projects")}
				</a>
			</li>

			<li class="text-Purple flex w-full justify-center bg-white p-4">
				<a
					href={Astro.url.pathname === `/${currentLang}/`
						? "#Services"
						: getRelativeLocaleUrl(currentLang, "/#Services")}
				>
					{translatedLabels("nav.services")}
				</a>
			</li>

			<li class="text-Purple flex w-full justify-center bg-white p-4">
				<a
					href={Astro.url.pathname === `/${currentLang}/`
						? "#Contact-me"
						: getRelativeLocaleUrl(currentLang, "/#Contact-me")}
				>
					{translatedLabels("nav.contact")}
				</a>
			</li>

			<div class="flex flex-col gap-4 p-2">
				<select
					class="text-Purple cursor-pointer rounded-lg bg-gray-200 p-4 px-2"
					data-path={currentPath}
					onchange="const lang2=this.value; const path2=this.dataset.path||'/'; const hash2=window.location.hash||''; window.location.href='/' + lang2 + path2 + hash2;"
				>
					<option
						value="es"
						selected={currentLang === "es"}
						>ES</option
					>
					<option
						value="en"
						selected={currentLang === "en"}
						>EN</option
					>
					<option
						value="nb"
						selected={currentLang === "nb"}
						>NOK</option
					>
				</select>

				<div
					class="text-Purple relative w-full cursor-pointer rounded-lg bg-white p-2"
				>
					<p id="OpenCVs2"><i class="fa-solid fa-download"></i> CV's</p>
					<div
						id="CVs2"
						class="absolute top-12 right-0 w-full -translate-x-96 flex-col gap-2 rounded-lg bg-white transition-all duration-500"
					>
						<a
							class="hover:bg-DarkPurple dark:hover:text-Purple text-Purple flex cursor-pointer items-center gap-2 rounded-lg bg-white px-2 py-1 hover:scale-90 hover:duration-300 dark:hover:bg-white"
							href=`/CV/CV-ES_JUAN-PABLO-GARCIA.docx`
							download=`CV-ES_JUAN-PABLO-GARCIA.docx`
							><i class="fa-solid fa-download"></i>ES</a
						>
						<a
							class="hover:bg-DarkPurple dark:hover:text-Purple text-wht-Purple flex cursor-pointer items-center gap-2 rounded-lg bg-white px-2 py-1 hover:scale-90 hover:duration-300 dark:hover:bg-white"
							href=`/CV/CV-EN_JUAN-PABLO-GARCIA.docx`
							download=`CV-EN_JUAN-PABLO-GARCIA.docx`
							><i class="fa-solid fa-download"></i>EN</a
						>
					</div>
				</div>

				<i
					class="fa-solid text-Purple m-auto w-max cursor-pointer rounded-lg bg-white p-2 text-center text-2xl duration-300 hover:scale-90"
					id="ThemeChangerMobile"
				></i>
			</div>
		</ul>
	</div>
	<i
		id="MenuToggle"
		class=`fa-solid fa-bars dark:text-Purple fixed top-4 left-6 z-50 cursor-pointer rounded-lg dark:bg-white p-2 text-3xl hover:scale-90 text-white bg-Purple`
	></i>
</nav>
