---
import { useTranslations } from "../i18n/utils";
import { languagesList } from "../i18n/ui";
const currentLang = Astro.currentLocale || "es";

const translatedLabels = useTranslations(
	currentLang as keyof typeof languagesList,
);
---

<article
	class="bg-DarkPurple/80 border-Purple dark:bg-Purple flex flex-col gap-2 rounded-lg border-8 p-2 text-white dark:border-white"
>
	<p class="font-bold uppercase">{Astro.props.title}</p>
	<div class="flex h-full flex-col justify-between gap-2">
		<img
			src={Astro.props.src}
			alt={Astro.props.alt}
			loading="lazy"
		/>
		<hr class="w-full border-2" />
		<p class="text-pretty hover:duration-300">{Astro.props.description}</p>
		<hr class="w-full border-2" />

		<div class="flex items-center gap-2">
			<slot />
		</div>
		<div class="grid grid-cols-2 gap-2">
			<a
				href={Astro.props.code}
				target="_blank"
				rel="noopener"
				class="bg-Purple hover:text-Purple dark:text-Purple m-auto flex items-center gap-2 rounded-lg p-2 text-white hover:scale-90 hover:bg-white hover:duration-300 dark:bg-white"
				><i class="fa-solid fa-code"></i>{translatedLabels("projects.code")}</a
			>
			<a
				href={Astro.props.preview}
				target="_blank"
				rel="noopener"
				class="bg-DarkPurple hover:text-Purple m-auto flex items-center gap-2 rounded-lg p-2 text-white hover:scale-90 hover:bg-white hover:duration-300"
				><i class="fa-solid fa-eye"></i>{translatedLabels("projects.preview")}
			</a>
		</div>
	</div>
</article>
